{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card border-danger">
            <div class="card-header bg-danger text-white">
                <h4>Error</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Something went wrong</h5>
                <p class="card-text">{{ error_message }}</p>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}